
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: #ecf0f1;
}
.sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #2c3e50;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #34495e;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}
.sidebar ul li:hover a{
    padding-left: 50px;
}
.sidebar ul img{
    width: 20px;
    padding: 0 10px 0 0 ;
}

/*======个人中心====*/
.tab{
    width: 100%;
    height: 70px;
    float: right;
    background: #fff;
    text-align: right;
    line-height: 70px;
    font-size: 18px;
}
.tab span{
    margin: 0 20px 0 0;
}
.tab a{
    margin: 0 20px;
    text-decoration: none; 
    color: black;
}

/*======mian=====*/
.main{
    background: #fff;
    left: 279px;
    top: 90px;
    width: 80%;
    height: 600px;
    position: absolute;
    margin: 0 auto;
}